<!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!--banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/london'); height: 50vh; background-position: center;">
</div>

<!-- Inject flat data in template -->
<div class="wrapper-grey">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-6">
        <div class="flat-details">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle mini-avatar" %>
          <p><%= flat.name %></p>
          <h1><%= flat.description %></h1>
          <p><%= flat.city_name %></p>
        </div>

      <div class="col-xs-12 col-md-6">
        <form action="#">

        </form>


      </div>
    </div>
  </div>
</div>

